
    /* Replace hex with variables and set COD colors */
:root {
    –-COD-primary: #97D700;
    --COD-secondary: #00AB84;
    --COD-accent: #EEDC00;
    --COD-accent2: #43B02A;
    --COD-neutral1: #fffff4;
    --COD-neutral2: #E1E8EC;
    --COD-neutral3: #A7ACA2;
    --COD-neutral4: rgb(11, 53, 46);
    }
    
   .selected {
        border: 2px var(--COD-neutral) 1 dashed !important;
    }

    .colorBox {
        border: var(--COD-neutral2) 2px solid !important;
    }
v
    button:disabled,
	button[disabled] {
        pointer-events: none;
        color: var(--COD-neutral2) !important;
        border: 0px !important;
        background-image: none;
        background-repeat: repeat;
    }

    button#Dark {
        display: none;
    }

    fieldset {
        border: var(--COD-neutral3) solid 1px;
    }

    legend {
        color: var(--COD-neutral1);
        border: var(--COD-neutral3) solid 1px;
    }

    td.ResultG {
        background-color: var(--COD-neutral4) !important;
        color: var(--COD-accent2);
        font-weight: bold;
    }

    td.ResultAA {
        background-color: var(--COD-neutral4) !important;
        color: var(--COD-primary);
    }

    td.ResultAAA {
        background-color: var(--COD-neutral4) !important;
        color: var(--COD-accent);
    }

    td#explainG {
        background-color: var(--COD-neutral4) !important;
        color: var(--COD-accent2);
    }

    td#explainAA {
        background-color: var(--COD-neutral4) !important;
        color: var(--COD-primary);
    }

    td#explainAAA {
        background-color: var(--COD-neutral4) !important;
        color: var(--COD-accent);
    }

    #myTable td:hover::before,
    #myTable .row:hover::before {
        outline: 0.0rem dotted var(--COD-primary) !important;
        content: '\00a0';
        height: 100%;
        left: -5000px;
        position: absolute;
        top: 0;
        width: 10000px;
        z-index: -1;
    }

    #myTable td:hover::after,
    #myTable .col:hover::after {
        outline: 0.4rem dotted var(--COD-primary) !important;
        content: '\00a0';
        height: 8999px;
        left: 0;
        position: absolute;
        top: -5000px;
        width: 100%;
        z-index: -1;
    }

    #myTable tr:hover,
    .mobileMat tr:hover {
        outline: 0.4rem dotted var(--COD-primary) !important;
    }

    body {
        color: var(--COD-neutral2) !important;
        background: var(--COD-neutral4) !important;
    }

    a,
    a:visited {
        color: var(--COD-primary) !important;
        font-weight: bold;
    }

    a:hover {
        color: var(--COD-secondary) !important;
        text-decoration: none;
    }
    /* Table styling START AGAIN HERE FOR HEX VARIABLES */ 
    table,
    th,
    td {
        border: 1px solid #74C9E5 !important;
    }
    /* Focus indicator */
    a:focus {
        outline: 0.3rem solid #4BB694 !important;
        transition: all 0.3s ease-in-out !important;
    }
    /* Styling buttons */
    button {
        border: 1px solid #9FB1BD !important;
        color: var(--COD-neutral2) !important;
        background-color: #231F20 !important;
        stroke: var(--COD-neutral2) !important;
    }

    button:hover,
    button:focus {
        background-color: #231F20   !important;
        color: var(--COD-neutral2)  !important;
        outline: 2px transparent solid !important;
        box-shadow: 0 0 0 2px var(--COD-neutral1), 0 0 0 4px #002e3b, 0 0 4px 8px --COD-neutral1 !important;
        transition: .3s linear;
        border: var(--COD-neutral2) 1px solid !important;
        stroke: var(--COD-neutral2) !important;
    }
    /* Details and Summary styling */
    details {
        border: 1px solid var(--COD-neutral2) !important;
        background: #231F20 !important;
    }

    summary:hover {
        background: #00131D !important;
        border: 2px solid var(--COD-primary) !important;
    }

    summary:focus {
        background: #00131D !important;
        border: 2px solid var(--COD-primary) !important;
    }

    summary:active {
        background: #002E3B !important;
        border: 2px solid var(--COD-neutral2) !important;
    }

    summary {
        border: 2px solid var(--COD-neutral2) !important;
        background: #00131D !important;
    }

    /* Styling links to HTML examples */
    #linksToExamples a:hover {
        color: var(--COD-secondary) !important;
        text-decoration: none !important;
        font-weight: bold !important;
    }
    /* Styling button help text */
    #buttonHelp {
        background: #495961 !important;
        color: white !important;
        border: 0px solid #000000 !important;
    }

    /* Colour of column and row headings */
    th {
        background: #231F20 !important;
        color: var(--COD-neutral2) !important;
    }

    tr#VanityLine {
        color: var(--COD-neutral2) !important;
    }

    caption,
    .mobileMat caption {
        display: table-caption;
        text-align: left;
        background: var(--COD-neutral4) !important;
    }
    /* Skip link */
    .skip-link {
        color: var(--COD-neutral2) !important;
        background-color: var(--COD-neutral4) !important;
    }

    .skip-link:focus {
        border: var(--COD-primary) solid 1rem !important;
        outline: 0px solid #74C9E5 !important;
    }

